.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: #080808;
    align-items: center;
    
}
.navbar-container-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar-container-right{
    display: flex;
    flex-direction: row;
    align-items: end;
}
.navbar-link{
    background-color: aliceblue;
    font-size: x-large;
    width: 200px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.navbar-button{
    background-color: #080808;
    color: white;
    font-size: x-large;
    font-weight: 800;
    width: 200px;
    padding: 10px;
    cursor: pointer;
    border-width: 0px;
}

.navbar-button:hover {
    background-color: rgb(238, 255, 0);
    color: #080808;
}

.be-banana {
    font-size: xx-large;
}